<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>HGSG</title>
        <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="200">
    <header class="jumbotron">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                <!-- mobile toggle button -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- logo -->
                    <a class="navbar-brand" href="#"><img src="img/logo.png" height=30 width=41></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav  navbar-right">
                        <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                        <li><a href="aboutus.html"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>About Us</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt" ria-hidden="true"></span>Our Services<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="services.html">Insurance</a></li>
                            <li><a href="services.html">Finance</a></li>
                            <li><a href="services.html">Investments</a></li>                            
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Loans</li>
                            <li><a href="services.html">Personal Loans</a></li>
                            <li><a href="services.html">Business Loans</a></li>
                        </ul>
                        </li>

                            <li><a href="aboutus.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Directors</a></li>
                            <li class="active"><a href="contactus.html"><span class="fa fa-envelope-o" aria-hidden="true"></span>Contact Us</a></li>
                    </ul>                

                </div>    
            </div>
            
        </nav>
             
            <!-- Main component for a primary marketing message or call to action -->
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12">
                    <h1>Hong Kong Swiss Group Ltd</h1>
                    <p style="padding:20px;"></p>
                    <p>Hong Kong Swiss Group HKSIG is a multi faceted financial advisory services group

                        based in Hong Kong, we provide a wide range of premium financial services to our clients a

                        leading provider of asset management &amp; investment advisory services for more than 9 years

                        in Hong Kong through innovative proprietary risk analysis, manager selection and portfolio

                        management. Founded in 2009, Hong Kong Swiss Group is privately owned and offers

                        impartial advice and services to both local and international clients.
                    </p>
                </div>

            </div>
        </div>

    </header>
<p style="padding:1px;"></p>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Contact Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Contact Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
           <div class="col-xs-12">
              <h3>Location Information</h3> 
           </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                   <h5>Our Address</h5>
                    <address style="font-size: 100%">
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, China<br>
		              <br>
		              <i class="fa fa-phone"></i>: +353 1234 5678<br>
		              <i class="fa fa-fax"></i>: +353 8765 4321<br>
		              <i class="fa fa-envelope"></i>: 
                        <a href="mailto:finance@hgsg.cn">finance@hgsg.cn</a>
		           </address>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                <h5>Map of our Location</h5>
            </div>
            <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                <!--Button group goes here -->
                <div class="btn-group" role="group" aria-label="...">
                    <a type="button" class="btn btn-primary" href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                    <a type="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                    <a type="button" class="btn btn-success" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>


            </div>
        </div>

        <div class="row row-content">
           <div class="col-xs-7 col-sm-offset-2" align="center">
              <h3>Project Finance Enquiry Form</h3> 
              <h5>Please fully complete the form below</h5>

                <p>This form enables us to make a rapid initial assessment of your project.

                    Submission of this form is for information purposes only.

                    It does not constitute an application for finance and it is not binding on any party.

                We will respond by email, usually in 1 or 2 working days.</p>
           </div>
            <div class="col-xs-12 col-sm-9">
                <!--Form goes here-->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="FullName" class="col-sm-2 control-label">Full Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="FullName" name="FullName" placeholder="Enter Your Names">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="companyname" class="col-sm-2 control-label">Company Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="companyname" name="companyname" placeholder="Enter company Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="companyadress" class="col-sm-2 control-label">Company Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="companyadress" name="companyadress" placeholder="Enter company Address">
                        </div>
                    </div>
                                    <!-- Add input group with addons-->
                <div class="form-group">
                        <label for="telnum" class="col-xs-12 col-sm-2 control-label">Contact Tel.</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">(</div>
                                    <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code">
                                <div class="input-group-addon">)</div>
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-7">
                                    <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="celnum" class="col-xs-12 col-sm-2 control-label">Cell Number.</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">(</div>
                                    <input type="cell" class="form-control" id="areacode" name="areacode" placeholder="Area code">
                                <div class="input-group-addon">)</div>
                            </div>
                        </div>
                        <div class="col-xs-7 col-sm-6 col-md-7">
                                    <input type="cell" class="form-control" id="llcenum" name="cellnum" placeholder="Cell Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailid" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email">
                        </div>
                    </div>

                    <!-- Add checkbox and select-->
                    <div class="form-group">
                       <div class="checkbox col-sm-5 col-sm-offset-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="approve" value="">
                                <strong>May we contact you?</strong>
                            </label>
                        </div>
                        <div class="col-sm-3 col-sm-offset-1">
                            <select class="form-control">
                                <option>Tel.</option>
                                <option>Email</option>
                            </select>
                        </div>                        
                    </div>
                    <div class="form-group">
                        <label for="projectname" class="col-sm-2 control-label">Project Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="projectname" name="projectname" placeholder="Enter Project Name">
                        </div>
                    </div>

                    <!-- Add textarea-->
                    <div class="form-group">
                        <label for="feedback" class="col-sm-2 control-label">Project Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="projectcost" class="col-sm-2 control-label">Project Cost<span>($)</span></label>
                        <div class="col-sm-3">
                            <input type="money" class="form-control" id="projectcost" name="projectcost" placeholder="Project Cost">
                        </div>
                        <label for="projectcostdate" class="col-sm-3 control-label">Project Cost to date<span>($)</span></label>
                        <div class="col-sm-3">
                            <input type="money" class="form-control" id="projectcostdate" name="projectcostdate" placeholder="Project Cost To Date">
                        </div>
                    </div>

                    <div class="form-group">
                       <div class="col-sm-4 col-sm-offset-2">
                            <label><strong>Have you acquired the land for your project?</strong></label> 
                            <input type='radio' name='group' ng-model='mValue' value='first' />Yes
                            <input type='radio' name='group' ng-model='mValue' value='second' /> No
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <label><strong>Has building started on your project?</strong></label> 
                            <input type='radio' name='group' ng-model='mValue' value='first' />Yes
                            <input type='radio' name='group' ng-model='mValue' value='second' /> No
                        </div>                        
                    </div>

                    <div class="col-xs-7 col-sm-offset-2" align="center">


              <h3>We do not accept applications for less than United States Dollars 1 Million ($1,000,000)</h3> 


<p>We may not provide 100% finance and in most cases we require owner to have at least 20% equity in the project.</p>
           </div>

                    <!-- Add submit button-->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>       

       </div>

    </div>

           <blockquote>

                <h3 style="text-align: center;">**********Note**********</h3>

<h5 class="well">We quickly respond to all enquiries providing they are submitted via our online Project

Finance Enquiry form and the form is correctly completed.

We will not fully commit to any funding, until a thorough validation and evaluation of your

business model and your financials by our analysts and external resource persons has been

duly completed.

To ensure we do not waste valuable time on unrealistic enquiries we do not enter discussions

in any form until we have a full understanding of your project's potential and risks. We

therefore do not offer meetings, hold telephone discussions or return telephone calls until we

are satisfied with your project viability based on your proposal and the market variables.

Please do not send us additional communications during the application phase as it delays the

application process.

We do not finance projects valued at less than $1,000,000, we do not finance acquisitions and

we do not finance projects in Afghanistan, Iraq, Ukraine, Zimbabwe, Iraq, Libya or

Nigeria.

All our official communications are in English. We do not offer a translation service.

Please read the notes above to ensure that you fill in the online form correctly.</h5>
            </blockquote>   
 
    <footer class="row-footer">
        <div class="container">
            <div class="row">             
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="service.html">Our Services</a></li>
                        <li class="active"><a href="contactus.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                      121, Clear Water Bay Road<br>
                      Clear Water Bay, China<br>
                      <br>
                      <i class="fa fa-phone"></i>: +353 1234 5678<br>
                      <i class="fa fa-fax"></i>: +353 8765 4321<br>
                      <i class="fa fa-envelope"></i>: 
                        <a href="mailto:confusion@food.net">confusion@hsgs.net</a>
                   </address>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="nav navbar-nav" style="padding: 40px 10px;">
                        <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center> &#x24B8; Copyright 2016 HGSG Finance China</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script></div>

</body>

</html>